.form-div {
    width: 70%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 20px;
  }
  
  .form-div h2 {
    text-align: center;
  }
  
  .form-div-child {
    display: flex;
    flex-direction: column;
  }
  
  .form-div-child input,
  .form-div-child select {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form-div-child button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .form-div-child button:hover {
    background-color: #45a049;
  }
  